.tray {
  align-items: center;
  height: 100px;
  width: 75vw;
  overflow-x: scroll;
  border-radius: 0 0 8px 8px;
  box-shadow: var(--diffuse-shadow);
  display: flex;
  margin: 8px;
  background: #ffffff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  background: #aaaaaa;
}

::-webkit-scrollbar-thumb:hover {
  background: #888888;
}
